* {
  box-sizing: border-box;
}

#container {
  padding-top: 50px;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
}

p {
  font-size: 15px;
}

nav,
footer {
  padding: 1% 0;
  background-color: green;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

nav > span {
  color: white;
  font-weight: 900;
  font-size: 30px;
}

nav div i {
  font-size: 20x;
  color: white;
}

header {
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.image-holder {
  margin-bottom: 0px;
}

h1 {
  margin-top: auto;
  margin-bottom: auto;
}

h2 {
  margin-top: 15px;
  margin-bottom: 10px;
}

section {
  background-color: white;
}

#contact-info {
  margin-bottom: 40px;
}

section:nth-child(even) {
  background-color: white;
}

#contact-info p i {
  color: green; 
}

#bio-content {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
}

#bio-content > p {
  padding-left: 25px;
  padding-right: 25px;
}

.project > p {
  padding-left: 25px;
  padding-right: 25px;
}

.image-holder {
  padding: 0px !important;
}

.stack-item-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.stack-item-name {
  font-size: 12px;
  margin-right: 15px;
  margin-left: 15px;
}

p.stack-item-icon {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fab, .fas {
  font-size: 50px;
}

.fa-js {
  color: #ebb111;
}

.fa-node {
  color: indigo;
}

.fa-react {
  color: #13b2c6;
}

.fa-html5 {
  color: indigo;
}

.fa-css3 {
  color: #287dc8;
}

.fa-database {
  color: #44b0cd;
}

.fa-git-square {
  color:green;
}

/* TABLET */
@media screen and (min-width: 480px) {
  /* no changes required as compared with mobile */
}

/* DESKTOP */
@media screen and (min-width: 1025px) {
  #container {
    display: flex;
    flex-direction: row-reverse;
  }

  #details, #my-projects {
    width: 50%;
  }
  
  h2 {
    margin-top: 50px;
  }

  p {
    font-size: 25px;
  }
  

}